<div class="form-register">
		<form id="form-cad" method="GET">
  	<div class="form-group">
    	<label for="exampleFormControlInput1">Produto</label>
    	<input type="text" class="form-control" name="produto">
  	</div>
  	<div class="form-group">
    	<label for="exampleFormControlSelect1">Categoria</label>
    	<select class="form-control" name="select">
      		<option value="pizza">Pizza</option>
      		<option value="bebida">Bebida</option>
    	</select>
  	</div>
  	<div class="form-group">
  		<label for="exampleFormControlInput1">Tamanho</label>
  		<select class="form-control" name="productSize">
      		<option class="size" value="grande">Grande</option>
      		<option class="size" value="pequena">Pequena</option>
  		</select>
  	</div>
  	<div class="form-group">
  		<label for="exampleFormControlInput1">$ Valor</label>
    	<input type="number" class="form-control"  name="valor">
  	</div>
  
  	<div class="form-group"  id="ingredientes">
    	<label for="exampleFormControlTextarea1">Ingredientes</label>
		<textarea class="form-control" rows="3" name="ingredientes"></textarea>
  	</div>
  	<div class="form-group">
  		<button type="submit" class="btn btn-success" name="bt">Cadastrar</button>
  	</div>
</form>