<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="Assets/css/style-template.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	 <style>
	 		.photo-label{
			background: url("Assets/images/mascote.png");
			width: 50px;
			height: 50px;
			overflow: hidden;
			border-radius: 100%;
			position: relative;
			top:10vh;
			margin-left: 10px;
		}
	 </style>
</head>
<body>
<aside class="menu-lateral">
	<nav class="nav">
		<div class="photo-label">
		</div>
	    <ul>
	        <li><i class="large material-icons">important_devices</i></li>
	        <li><i class="large material-icons">book</i></li>
	        <li><i class="large material-icons">content_paste</i></li>
	    </ul>
	</nav>
</aside>
<section class="content">
	{{area-dinamica}}
</div>
</section>
</body>
</html>